* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f2ebe3;
  font-family: "Montserrat", sans-serif; }

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.main-component {
  display: flex;
  width: 60rem;
  height: 45rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #fff;
  color: #7d7e83; }
  .main-component img {
    width: 30rem; }
  .main-component .product-info {
    width: 50%;
    margin: 3.2rem; }
    .main-component .product-info .category {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 0.65rem;
      font-weight: 300;
      margin-bottom: 2.5rem; }
    .main-component .product-info .title {
      font-family: "Fraunces", serif;
      color: #000;
      font-size: 3rem;
      margin-bottom: 3rem;
      line-height: 1; }
    .main-component .product-info .description {
      line-height: 1.7;
      margin-bottom: 3rem;
      font-size: 1.3rem; }
    .main-component .product-info .price {
      display: flex;
      gap: 3rem;
      margin-bottom: 3rem;
      align-items: center; }
      .main-component .product-info .price .sale-price {
        font-family: "Fraunces", serif;
        font-size: 3rem;
        font-weight: 700;
        color: #408169; }
      .main-component .product-info .price .current-price {
        color: #7d7e83;
        text-decoration: line-through;
        font-size: 1.2rem; }
    .main-component .product-info .btn:link,
    .main-component .product-info .btn:active {
      display: flex !important;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      border-radius: 0.5rem;
      display: inline-block;
      transition: all 0.2s;
      background-color: #408169;
      font-weight: 700;
      font-size: 1.2rem;
      text-decoration: none; }
      .main-component .product-info .btn:link:hover,
      .main-component .product-info .btn:active:hover {
        background-color: #2b5747; }
      .main-component .product-info .btn:link .cart,
      .main-component .product-info .btn:active .cart {
        width: 15px;
        margin-right: 5px; }
    .main-component .product-info .btn:visited {
      color: #fff; }

@media (max-width: 35em) {
  .cart {
    display: none; }
  .main-component {
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 61rem;
    position: absolute; }
    .main-component img {
      width: 35rem;
      height: 23rem; }
    .main-component .product-info {
      width: 85%;
      margin: 2.3rem; }
      .main-component .product-info .category {
        margin-bottom: 2.1rem; } }
